# macOS .DS_Store files
**/.DS_Store

# PyCharm
/.idea/

# Python cache files
**/__pycache__/

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Jupyter book
/book/_build/

# `out` directory
/out/

# my playground for experiments
/playground/
/tests/

# some auxiliary files when compiling latex
/report/*.aux
/report/*.bbl
/report/*.bcf
/report/*.blg
/report/*.log
/report/*.out
/report/*.run.xml
/report/*.synctex.gz
/report/*.toc